.App {
  text-align: center;
  background-color: #252321;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
.content {
  flex: 1; 
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.no-link-style {
  text-decoration: none; 
  color: inherit;       
}
.App .footer {
  margin-top: auto;
  width: 100%;
}