 .event {
    width: 74%;
    padding: 1%;
    padding-top: 2%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;   
}
.container-event {
    background-color: #D8D8D8;
    border-radius: 5px;
    padding: 3% 8% 8% 8%;
    text-align: left;
}

.event .nazivEvent{
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
}

.event .vrijemeDatumEvent{
    color: #5D5A5A;
    font-size: 0.9rem;
    padding-bottom: 1.5rem;
}

.event .image-event {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
.leaderboard-reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}