.footer2 {
    background-color: #5D5A5A;
    color: #D8D8D8;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    border-top: 2px solid #8A7B7B;
}
.footer ul {
    text-align: center;
    list-style: none;
}
.footer li {
    display: inline-block;
    padding: 0.1rem;
    cursor: pointer;
}
.footer p {
    padding: 0.5rem;
}