.leaderboard {
    width: 80%;
    list-style-type: none;
    padding: 1rem;
    margin-left: 4rem;
    background-color: #f9f9f9; /* Add background color */
    border-radius: 5px; /* Add border radius */
    box-shadow: rgba(87, 87, 87, 0.25) 0px 8px 24px;
}

.leaderboard h2 {
    margin: 0 0 10px 0; /* Margin below the heading */
    padding: 0;
    font-size: 1.5rem;
    color: #333;
}

.leaderboard ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.leaderboard li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd; 
}

.leaderboard li:last-child {
    border-bottom: none; /* Remove border from last item */
}

.add-participant-container {
    margin-top: 15px; /* Margin above the form */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Add space between inputs */
}

.add-participant-container input[type="text"],
.add-participant-container input[type="submit"] {
    padding: 10px;
    margin: 5px 0;
    width: 33%; /* Adjust width for three inputs and one button in a row */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.add-participant-container input[type="text"] {
    text-align: center; /* Center the text in the input fields */
}

.add-participant-container input[type="submit"] {
    width: 100%; /* Full width for submit button */
    background-color: #718E2A;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for hover effect */
}

.add-participant-container input[type="submit"]:hover {
    background-color: #637C24;
}

.add-participant-container input[type="text"]:disabled,
.add-participant-container input[type="submit"]:disabled {
    background-color: #e0e0e0; /* Light grey background for disabled inputs */
    color: #a0a0a0; /* Grey text color for disabled inputs */
    cursor: not-allowed; /* Change cursor to not-allowed */
    border: 1px solid #ccc; /* Keep the border consistent */
}

@media (max-width: 845px){
    .leaderboard {
        padding-bottom: 1rem;
        width: 100%;
        margin-left: 0rem;
    }
}
