.message {
    max-width: 70%; 
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .message.contact {
    background-color: #ffffff;
    align-self: flex-start; 
    cursor: default;
  }
  
  .message.user {
    background-color: #bfce98;
    align-self: flex-end; 
    cursor: default;
  }
  
  .message-sender {
    color: #718E2A;
    font-weight: bold;
    margin-bottom: 5px;
    font-size:small;
    justify-self: flex-start;
  }
  
  .message-text {
    margin: 0;
  }