.container-review {
    padding: 1rem;
    border-radius: 5px;
    background-color: #bbb8b8;
}
.container-review h3 {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}
.container-review textarea {
    border: 1px solid #ddd;
    padding: 0.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
    border-radius: 5px; 
    resize: none;
    font-family: 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.container-review select {
    padding:0.2rem;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
}
.container-review button {
    background-color: #718E2A;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    margin-top: 0.5rem;
}
.container-review button:hover {
    background-color: #637C24;
}

@media (max-width: 845px){
    .container-review {
        width: 100%;
    }
}